*.o
*.dSYM
*~
*.swp
.DS_Store
*.signed
xnumon
timeops
mklaunchdplist
chkcs
auditdump
test/sizeof/sizeof
test/**/*.test
test/**/true.unsigned
kext/*.kext
pkg/*.pkg
pkg/resources/license.html
pkg/resources/readme.rtf
dist/
