*.o
*.dSYM
*.signed
xnumon
timeops
mklaunchdplist
auditdump
test/sizeof/sizeof
test/bin/*.test
test/bin/true.unsigned
kext/*.kext
pkg/ch.roe.kext.xnumon.pkg
pkg/ch.roe.xnumon.pkg
pkg/resources/license.html
pkg/resources/readme.rtf
*~
*.swp
.DS_Store
dist/
