*.o
*.dSYM
*~
*.swp
.DS_Store
*.signed
xnumon
timeops
mklaunchdplist
chkcs
auditdump
test/**/*.test
test/**/*.plist
test/*.dep
test/logs.json
test/trace.*
**/__pycache__
kext/*.kext
pkg/*.pkg
pkg/resources/license.html
pkg/resources/readme.rtf
dist/
